# Игнорировать файлы с расширениями .pyc, .pyo и __pycache__
*.pyc
*.pyo
__pycache__

# Игнорировать папку venv (виртуальная среда)
venv/

# Игнорировать файлы, созданные средой разработки PyCharm
.idea/

# Игнорировать файлы и папки, содержащие секретные или конфиденциальные данные
secrets/
config.ini

# Игнорировать файлы, созданные различными средствами автоматической генерации
*.csv
*.log
*.pdf

# Игнорировать файлы и папки, содержащие временные данные
temp/
temp.txt
